In [1]:
import pandas as pd
import altair as alt

In [3]:
wfp = pd.read_parquet('data551-project/data/processed/wfp_preprocessed.parquet')
wfp.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,countryiso3,country
0,2014-01-15,None,None,National Average,NaN,NaN,cereals and tubers,Maize meal,KG,actual,Retail,SZL,8.94,0.8232,SWZ,Eswatini
1,2014-01-15,None,None,National Average,NaN,NaN,cereals and tubers,Rice,KG,actual,Retail,SZL,10.79,0.9936,SWZ,Eswatini
2,2014-01-15,None,None,National Average,NaN,NaN,cereals and tubers,Wheat flour,KG,actual,Retail,SZL,11.85,1.0912,SWZ,Eswatini
3,2014-01-15,None,None,National Average,NaN,NaN,miscellaneous food,Sugar (brown),KG,actual,Retail,SZL,10.21,0.9401,SWZ,Eswatini
4,2014-01-15,None,None,National Average,NaN,NaN,pulses and nuts,Beans (sugar),KG,actual,Retail,SZL,24.50,2.2560,SWZ,Eswatini

In [23]:
# Count the number of unique countries for each commodity
commodity_country_count = (
    wfp.groupby('commodity')['country'].nunique()  # Count unique countries per commodity
    .reset_index(name='country_count')  # Reset index to have a clean DataFrame
)

# Sort commodities by the number of countries they appear in
sorted_commodities = commodity_country_count.sort_values(by='country_count', ascending=False)
sorted_commodities = sorted_commodities.reset_index(drop=True)

# Check the result
sorted_commodities.head(10)

         commodity  country_count
0            Sugar             51
1      Wheat flour             51
2             Eggs             41
3         Potatoes             39
4             Salt             38
5    Fuel (diesel)             38
6         Tomatoes             37
7             Rice             37
8  Oil (vegetable)             33
9           Onions             32