In [33]:
import pandas as pd

In [35]:
df = pd.read_parquet("../data/processed/wfp_preprocessed.parquet")

In [37]:
# Delete the non-food
df = df[df["category"] != "non-food"]

In [39]:
# Split the "Unit" column into two separate columns: "Value" for numerical values and "Unit" for measurement units.
df["Value"] = df["unit"].str.extract(r"^(\d*\.?\d+)")
df["Unit"] = df["unit"].str.extract(r"^[\d\.]*\s*(.*)")
df["Value"] = df["Value"].fillna("1")
df["Value"] = df["Value"].astype(float)

In [41]:
# Store the converted unit price in the "standardprice" column.
df.loc[df["Unit"] == "KG", "standardprice"] = (
    df.loc[df["Unit"] == "KG", "usdprice"] / df.loc[df["Unit"] == "KG", "Value"]
)
df.loc[df["Unit"] == "G", "standardprice"] = (
    df.loc[df["Unit"] == "G", "usdprice"] / df.loc[df["Unit"] == "G", "Value"] * 1000
)
df.loc[df["Unit"] == "L", "standardprice"] = (
    df.loc[df["Unit"] == "L", "usdprice"] / df.loc[df["Unit"] == "L", "Value"]
)
df.loc[df["Unit"] == "ML", "standardprice"] = (
    df.loc[df["Unit"] == "ML", "usdprice"] / df.loc[df["Unit"] == "ML", "Value"] * 1000
)
df.loc[df["Unit"] == "Pounds", "standardprice"] = (
    df.loc[df["Unit"] == "Pounds", "usdprice"]
    / df.loc[df["Unit"] == "Pounds", "Value"]
    * 2.20462
)
df.loc[df["Unit"] == "Pound", "standardprice"] = (
    df.loc[df["Unit"] == "Pound", "usdprice"] * 2.20462
)
df.loc[df["Unit"] == "pcs", "standardprice"] = (
    df.loc[df["Unit"] == "pcs", "usdprice"] / df.loc[df["Unit"] == "pcs", "Value"]
)
df.loc[df["Unit"] == "MT", "standardprice"] = (
    df.loc[df["Unit"] == "MT", "usdprice"] / df.loc[df["Unit"] == "MT", "Value"] / 1000
)
df.loc[df["Unit"] == "Tin (20 L)", "standardprice"] = (
    df.loc[df["Unit"] == "Tin (20 L)", "usdprice"]
    / df.loc[df["Unit"] == "Tin (20 L)", "Value"]
    / 20
)
df.loc[df["Unit"] == "Gallon", "standardprice"] = (
    df.loc[df["Unit"] == "Gallon", "usdprice"]
    / df.loc[df["Unit"] == "Gallon", "Value"]
    * 0.264172
)
df.loc[df["standardprice"].isna(), "standardprice"] = df.loc[
    df["standardprice"].isna(), "usdprice"
]

In [42]:
# Standardize the units in the "Unit" column.
df.loc[df["unit"].str.contains("KG", na=False), "Unit"] = "1 KG"
df.loc[df["unit"].str.contains("G", na=False), "Unit"] = "1 KG"
df.loc[df["unit"].str.contains("L", na=False), "Unit"] = "1 L"
df.loc[df["unit"].str.contains("ML", na=False), "Unit"] = "1 L"
df.loc[df["unit"].str.contains("Pounds", na=False), "Unit"] = "1 KG"
df.loc[df["unit"].str.contains("Pound", na=False), "Unit"] = "1 KG"
df.loc[df["unit"].str.contains("MT", na=False), "Unit"] = "1 KG"
df.loc[df["unit"].str.contains("pcs", na=False), "Unit"] = "1 piece"
df.loc[df["unit"].str.contains("Tin(20 L)", na=False, regex=False), "Unit"] = "1 L"
df.loc[df["unit"].str.contains("Gallon", na=False), "Unit"] = "1 L"

In [43]:
df["Unit"].unique()

array(['1 KG', 'Head', '1 L', '1 piece', 'Tubers', 'Bunch', 'Unit',
       'Packet', 'piece', 'Dozens', 'Box', 'Dozen', 'Heap', 'Day',
       'Bundle', 'Package', 'Pile', 'Marmite', 'Cuartilla'], dtype=object)

In [44]:
df.loc[(df['market'] == 'Wadajir') & (df['latitude'].isna()), 'latitude'] = 2.0623
df.loc[(df['market'] == 'Wadajir') & (df['longitude'].isna()), 'longitude'] = 45.3254

df.loc[(df['market'] == 'Hola (Tana River)') & (df['latitude'].isna()), 'latitude'] = -2.4300
df.loc[(df['market'] == 'Hola (Tana River)') & (df['longitude'].isna()), 'longitude'] = 38.9200

df.loc[(df['market'] == 'Dulibadzimu Market') & (df['latitude'].isna()), 'latitude'] = -20.1582
df.loc[(df['market'] == 'Dulibadzimu Market') & (df['longitude'].isna()), 'longitude'] = 28.5882

df.loc[(df['market'] == 'Kombai') & (df['latitude'].isna()), 'latitude'] = -2.0290
df.loc[(df['market'] == 'Kombai') & (df['longitude'].isna()), 'longitude'] = 141.9877

df.loc[(df['market'] == 'Mandava') & (df['latitude'].isna()), 'latitude'] = -19.4142
df.loc[(df['market'] == 'Mandava') & (df['longitude'].isna()), 'longitude'] =  29.0135

df.loc[(df['market'] == 'Mucheke') & (df['latitude'].isna()), 'latitude'] = -20.1489
df.loc[(df['market'] == 'Mucheke') & (df['longitude'].isna()), 'longitude'] = 28.6499

df.loc[(df['market'] == 'Murombedzi') & (df['latitude'].isna()), 'latitude'] = -17.7658
df.loc[(df['market'] == 'Murombedzi') & (df['longitude'].isna()), 'longitude'] = 30.3450

df.loc[(df['market'] == 'Renkini Bus Terminus') & (df['latitude'].isna()), 'latitude'] = -17.7658
df.loc[(df['market'] == 'Renkini Bus Terminus') & (df['longitude'].isna()), 'longitude'] = 30.3450

df.loc[(df['market'] == 'Tshovani') & (df['latitude'].isna()), 'latitude'] = -20.8016
df.loc[(df['market'] == 'Tshovani') & (df['longitude'].isna()), 'longitude'] = 29.5035

df.loc[(df['market'] == 'Plumtree town')& (df['latitude'].isna()), 'latitude'] = -20.4439
df.loc[(df['market'] == 'Plumtree town')& (df['longitude'].isna()), 'longitude'] = 27.4158

df.loc[(df['market'] == 'Osaka') & (df['latitude'].isna()), 'latitude'] = 34.6937
df.loc[(df['market'] == 'Osaka') & (df['longitude'].isna()), 'longitude'] = 135.5023

df.loc[(df['market'] == 'Tokyo') & (df['latitude'].isna()), 'latitude'] = 35.6762
df.loc[(df['market'] == 'Tokyo') & (df['longitude'].isna()), 'longitude'] = 139.6503

df.loc[(df['market'] == 'Bichena') & (df['latitude'].isna()), 'latitude'] = 11.7500
df.loc[(df['market'] == 'Bichena') & (df['longitude'].isna()) , 'longitude'] = 37.9000

df.loc[(df['country'] == 'Nicaragua') & (df['latitude'].isna()) & (df['market'] == 'National Average (excl. capital)'), 'latitude'] =  12.1364
df.loc[(df['country'] == 'Nicaragua') & (df['longitude'].isna()) & (df['market'] == 'National Average (excl. capital)'), 'longitude'] = -86.2514

df.loc[(df['country'] == 'Nicaragua') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] =  12.1364
df.loc[(df['country'] == 'Nicaragua') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = -86.2514

df.loc[(df['country'] == 'Eswatini') & (df['latitude'].isna())& (df['market'] == 'National Average'), 'latitude'] = -26.3044
df.loc[(df['country'] == 'Eswatini') & (df['longitude'].isna())& (df['market'] == 'National Average') , 'longitude'] = 31.1344

df.loc[(df['country'] == 'Costa Rica') & (df['latitude'].isna())& (df['market'] == 'National Average'), 'latitude'] = 9.9281
df.loc[(df['country'] == 'Costa Rica') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = -84.0907

df.loc[(df['country'] == 'Egypt') & (df['latitude'].isna())& (df['market'] == 'National Average'), 'latitude'] = 30.0444
df.loc[(df['country'] == 'Egypt') & (df['longitude'].isna())& (df['market'] == 'National Average') , 'longitude'] = 31.2357

df.loc[(df['country'] == 'Indonesia') & (df['latitude'].isna())& (df['market'] == 'National Average'), 'latitude'] = -6.2088
df.loc[(df['country'] == 'Indonesia') & (df['longitude'].isna())& (df['market'] == 'National Average') , 'longitude'] = 106.8456

df.loc[(df['country'] == 'El Salvador') & (df['latitude'].isna())& (df['market'] == 'National Average'), 'latitude'] = 13.6929
df.loc[(df['country'] == 'El Salvador') & (df['longitude'].isna())& (df['market'] == 'National Average') , 'longitude'] = -89.2182

df.loc[(df['country'] == 'Angola') & (df['latitude'].isna())& (df['market'] == 'National Average'), 'latitude'] = -8.8390
df.loc[(df['country'] == 'Angola') & (df['longitude'].isna())& (df['market'] == 'National Average') , 'longitude'] = 13.2894

df.loc[(df['country'] == 'Guatemala') & (df['latitude'].isna())& (df['market'] == 'National Average'), 'latitude'] = 14.6349
df.loc[(df['country'] == 'Guatemala') & (df['longitude'].isna())& (df['market'] == 'National Average') , 'longitude'] = -90.5069

df.loc[(df['country'] == 'Ukraine') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 50.4501
df.loc[(df['country'] == 'Ukraine') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = 30.5236

df.loc[(df['country'] == 'Turkiye') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 39.9334
df.loc[(df['country'] == 'Turkiye') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = 32.8597

df.loc[(df['country'] == 'Sri Lanka') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 6.9271
df.loc[(df['country'] == 'Sri Lanka') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = 79.9965

df.loc[(df['country'] == 'Chad') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 12.6349
df.loc[(df['country'] == 'Chad') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = 14.0565

df.loc[(df['country'] == 'India') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 28.6139
df.loc[(df['country'] == 'India') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = 77.2090

df.loc[(df['country'] == 'Panama') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 8.9833
df.loc[(df['country'] == 'Panama') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = -79.5167

df.loc[(df['country'] == 'Nicaragua') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 12.1364
df.loc[(df['country'] == 'Nicaragua') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = -86.2514

df.loc[(df['country'] == 'Honduras') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 13.9676
df.loc[(df['country'] == 'Honduras') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = -86.2419

df.loc[(df['country'] == 'Dominican Republic') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 18.4760
df.loc[(df['country'] == 'Dominican Republic') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = -69.8905

df.loc[(df['country'] == 'Kyrgyzstan') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 42.8746
df.loc[(df['country'] == 'Kyrgyzstan') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = 74.6121

df.loc[(df['country'] == 'Jordan') & (df['latitude'].isna()) & (df['market'] == 'National Average'), 'latitude'] = 31.9686
df.loc[(df['country'] == 'Jordan') & (df['longitude'].isna()) & (df['market'] == 'National Average'), 'longitude'] = 35.9342

In [45]:
df[(df['latitude'].isna())|(df['longitude'].isna())]

Empty DataFrame
Columns: [date, admin1, admin2, market, latitude, longitude, category, commodity, unit, priceflag, pricetype, currency, price, usdprice, countryiso3, country, Value, Unit, standardprice]
Index: []

In [57]:
df.loc[(df['admin2'].isna()) & ((df['market'] != 'National Average') & (df['market'] != 'National Average (excl. capital)')), 'admin2'] = df['market']
df.loc[(df['admin2'].isna()) & (df['market'].isin(['National Average', 'National Average (excl. capital)'])), 'admin2'] = df['country']

In [59]:
df[df['admin2'].isna()]

Empty DataFrame
Columns: [date, admin1, admin2, market, latitude, longitude, category, commodity, unit, priceflag, pricetype, currency, price, usdprice, countryiso3, country, Value, Unit, standardprice]
Index: []

In [69]:
df.to_parquet("../data/processed/newest_dataset.parquet", index=False)